body {
    background-image: linear-gradient(#f0dfc2, #ebe6df);
    margin: 10vh 0;
    font-family: "IBM Plex Sans", sans-serif;
    overflow-x: hidden;
}

#main-output {
    font-weight: bold;
    font-size: 28px;
}

.display {
    background-color: rgb(201, 201, 201);
    padding: 15px;
    width: 250px;
    text-align: right;
    font-size: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

button {
    padding: 10px;
    width: 67px;
    height: 45px;
    border: none;
    margin-top: 10px;
    background-color: rgb(194, 194, 194);
    color: black;
    font-size: 20px;
}

button:hover {
    cursor: pointer;
    background-color: rgb(182, 178, 178);
}
button:active {
    background-color: rgb(136, 136, 136);
}
