body {
    background-image: linear-gradient(#f0dfc2, #ebe6df);
    margin: 0;
    font-family: "IBM Plex Sans", sans-serif;
    padding-bottom: 20px;
    overflow-x: hidden;
}

.home {
    margin: 4vh 20vw;
    border: 1px solid black;
    padding: 5vh 2vw;
}

.form {
    display: flex;
    flex-direction: column;
}
.title {
    /* text-align: center; */
    font-size: 30px;
    margin-top: 4vh;
}

.short-headline {
    font-size: 17px;
}

.data-headings {
    font-size: 14px;
    padding-left: 20px;
    padding-top: 20px;
}

.name-fields {
    display: flex;
    flex-direction: row;
}

.fields {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

input[type="text"] {
    height: 4vh;
    width: 15vw;
}

input:focus {
    outline: none !important;
    border: 2px solid blue;
}

.gender {
    margin-left: 5vw;
}

select {
    width: 10vw;
    height: 4vh;
}

.error {
    border: 2px solid red;
}

#error-messages {
    font-size: 12px;
    text-transform: uppercase;
    color: red;
    padding-left: 20px;
    font-weight: bold;
}

#submit {
    margin-top: 5vw;
    color: white;
    font-size: bold;
    padding: 2vh 2vw;
    border: none;
    border-radius: 5px;
    background-color: blue;
}

#submit:hover {
    cursor: pointer;
}
